.login__screen {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
  }
  
  .login__screen .login__box {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login__screen .input__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login__screen label {
    font-size: 12px;
    color: grey;
  }
  
  .login__screen button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 6px 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  
