* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_posts {
  padding: 20px;
  display:flex;
  justify-content:center;
}

.app_header {
  position:sticky;
  top:0;
  z-index:1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.post__image{
  width:100%;
  object-fit: contain;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
}

.post__text{
  font-weight:normal;
  padding:20px
}

.post__header{
  display:flex;
  align-items:center;
  padding:20px;
}
.post__avatar{
margin-right:10px;
}
.post__commentBox{
  display:flex;
  margin-top:10px;
}
.post__comments{
  padding:20px;
}

.post__input{
  flex:1;
  border:none;
  padding:10px;
  border-top:1px solid lightgray;
}
.post_button{
  flex:0;
  border:none;
  color:#6082a3;
  background-color:transparent;
  border-top:1px lightgray;
}
